MES_BASE_URL=http://localhost:4000
MES_COMPANY_ID=COMPANY-A
T17_EQUIPMENT_CODE=T17-2-EQ-001
T17_GATEWAY_EQUIPMENT_CODE=EQ-GW-001
T17_RUN_GATEWAY_SMOKE=1
T17_GATEWAY_AUTO_KEY=1
T17_INCLUDE_P1=1
T17_AUTO_START_SERVER=1
T17_DEV_MODE=1
